pandas
streamlit
streamlit-option-menu
langchain
tk
pillow
functools==0.5
faiss-cpu
TextLoader
transformers
transformer-embeddings
pytesseract
sqlite-database
email
secure-smtplib
langchain-text-splitters
textwrap3
openai
pinecone-client
sentence-transformers
regex
PyPDF2
PyMuPDF
fitz
