pip install pandas
pip install streamlit
pip install sqlite
pip install streamlit-option-menu
pip install langchain
pip install tk
pip install pillow
pip install functools
pip install faiss-cpu
pip install TextLoader
pip install transformers
pip install transformer-embeddings
pip install pytesseract
pip install email
pip install secure-smtplib
pip install langchain-text-splitters
pip install textwrap3
pip install openai
pip install pinecone-client
pip install sentence-transformers
